.dark-mode {
    background-color: darken($color: $grisOscuro, $amount: 10);
    
    p, a, h1, h2, h3, h4, td, th {
        color: $blanco;
    }

    .anuncio {
        background-color: $grisOscuro;
        border: 1px solid lighten($color: $grisOscuro, $amount: 10);
    }

    .barra-nav {
        .dark-mode-button {
            transition: filter .3s linear;
            filter: invert(0%);
        }
    }

    .iconos-caracteristicas {
        img {
            filter: invert(100%);
        }
    }

    .formulario {
        legend,
        label,
        p {
            color: $gris;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            color: $blanco;
        }
    }
}